.env
.env.*
!.env.example

**/*.lock
private/
internal/templates/**/*.js
error
errors

**/out
**/build

internal/runners
!internal/runners/prod_server.js

styles/output.css
styles/output.*.css

components/index.tsx